footer
  p #{current_year}, Егорова Екатерина - #{link_to 'Приложение ТестГуру', github_url('nuringa', 'testguru')}
  p Отвечай на вопросы и проходи тесты - #{link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://www.thinknetica.com/'}
