footer
  p #{current_year}, Ekaterina Egorova - #{link_to 'Testguru app', github_url('nuringa', 'testguru')}
  p Make and pass tests with questions - #{link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://www.thinknetica.com/'}
