
default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  username:
  password:
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: testguru_development

test:
  <<: *default
  database: testguru_test

production:
  <<: *default
  database: testguru_production
  username: testguru
  password: <%= ENV['TESTGURU_DATABASE_PASSWORD'] %>
